body{
    background: #2c2c2c;
}
aside {
    display: inline;
    float: right;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 80px;
    float: left;
}

aside .user{
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3{
    margin-top: 50px;
    font-size: 28px;
}

aside ul {list-style: none}
aside ul li: {
    color: #fff;
    display: block;
    margin-top: 20px;
}

aside ul li:hover, aside ul a:hover{
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 74%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 500px; margin: 20px auto}

.question {
    background: green;
    float: none;
    clear: both;
    height: 300px;
    width: 300px;
    text-align: center;
    display: inline-block;
    margin: 3px 20px 45px 0px;
    z-index : 2;
    border: solid 1px black;
}
.btn {
    background: #00FF7F;

}
a {
    text-decoration: none;
}
form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}
.answer{
    background: #008B8B;
    text-color:black;
    float: left;
    height: 130px;
    width: 700px;
    text-align: left;

    border: solid 1px black;
}
.title_1 {text-transform : uppercase; font-weight : normal; font-size : 35px;  padding : 40px 0px 50px 330px; clear : both;}
.title_2 {line-height : 120%; text-transform : uppercase; font-weight : normal; font-size : 28px; padding : 30px 0px 20px 0px; clear : both; display : block;}
.title_3 {text-transform :none; font-weight: normal; font-size : 22px;  padding : 0px 0px 10px 0px; clear : both; display : block;}
.title_4 {font-size: 25px}